A_vývoj_doc/Metodika/ISPV/Schema_ispv2012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
VALIDATORY:
    http://apps.gotdotnet.com/xmltools/xsdValidator - webovy validator
    http://www.w3.org/2001/03/webdata/xsv - webovy validator na w3.org
    http://www.w3.org/XML/Schema#XSV - lokalni verze predchoziho validatoru (free download)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ispv.cz/schema/ispv2012" xmlns="http://www.ispv.cz/schema/ispv2012" elementFormDefault="qualified">
	<!-- nez se bude typ porovnavat, v porovnavanem retezci se prevedou vyskyty posloupnosti mezer,
     tabulatoru, entru na mezeru a jeste se oriznou krajni mezery (trim) -->
	<xs:simpleType name="typeCollapsedString">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- nahrada tabulatoru a koncu radku za mezery -->
	<xs:simpleType name="typeReplacedString">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="replace"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- typ povolujici pouze prazdny retezec "" -->
	<xs:simpleType name="typePrazdny">
		<xs:restriction base="typeCollapsedString">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<!-- typy pro polozky typu kod -->
	<xs:simpleType name="typeKod10">
		<xs:restriction base="typeReplacedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- typy pro polozky typu cena -->
	<!-- nn.nn -->
	<xs:simpleType name="typeUnsignedNumeric5">
		<xs:restriction base="typeCollapsedString">
			<xs:pattern value="0*([0-9]{1,5}|[0-9]{0,3}[\.,][0-9]|[0-9]{0,2}[\.,][0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- nnnn.n -->
	<xs:simpleType name="typeUnsignedNumeric6">
		<xs:restriction base="typeCollapsedString">
			<xs:pattern value="0*([0-9]{1,6}|[0-9]{0,4}[\.,][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- nnnn.nn -->
	<xs:simpleType name="typeUnsignedNumeric7">
		<xs:restriction base="typeCollapsedString">
			<xs:pattern value="0*([0-9]{1,7}|[0-9]{0,5}[\.,][0-9]|[0-9]{0,4}[\.,][0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- nnnn.nn -->
	<xs:simpleType name="typeSignedNumeric7">
		<xs:restriction base="typeCollapsedString">
			<xs:pattern value="0*([0-9]{1,7}|[0-9]{0,5}[\.,][0-9]|[0-9]{0,4}[\.,][0-9][0-9]|-[0-9]{1,6}|-[0-9]{0,4}[\.,][0-9]|-[0-9]{0,3}[\.,][0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>	
	<!-- nnnnn.nn -->
	<xs:simpleType name="typeUnsignedNumeric8">
		<xs:restriction base="typeCollapsedString">
			<xs:pattern value="0*([0-9]{1,8}|[0-9]{0,6}[\.,][0-9]|[0-9]{0,5}[\.,][0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- nnnnnn.nn -->
	<xs:simpleType name="typeUnsignedNumeric9">
		<xs:restriction base="typeCollapsedString">
			<xs:pattern value="0*([0-9]{1,9}|[0-9]{0,7}[\.,][0-9]|[0-9]{0,6}[\.,][0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- nnnnnnn.nnnn -->
	<xs:simpleType name="typeUnsignedNumeric12">
		<xs:restriction base="typeCollapsedString">
			<xs:pattern value="0*([0-9]{1,12}|[0-9]{1,10}[\.,][0-9]|[0-9]{1,9}[\.,][0-9]{2}|[0-9]{1,8}[\.,][0-9]{3}|[0-9]{1,7}[\.,][0-9]{4})"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- typy pro data parametry -->
	<xs:simpleType name="typeDesTeckaCarka">
		<xs:restriction base="typeCollapsedString">
			<xs:enumeration value="."/>
			<xs:enumeration value=","/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<!-- typy pro data odesilatel -->
	<xs:simpleType name="typeFirma">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="typeJmeno">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="typeEmail">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="typeTelefon">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="typeZprava">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- typy pro MI data -->
	<xs:simpleType name="typeIco">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeNazev">
		<xs:restriction base="typeReplacedString">
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeUlicecp">
		<xs:restriction base="typeReplacedString">
			<xs:maxLength value="37"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeMisto">
		<xs:restriction base="typeCollapsedString">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typePsc">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeLau1">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeCollapsedString">
					<xs:pattern value="CZ0[0-9]{2}[a-zA-Z0-9]{1}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeHrmzdyq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePoneq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeOdpracdq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePrescasq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="-9999999"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeAbscelkq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeAbsplacq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePocfyzq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric9"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePocprepq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric9"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeOonq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeOdmdpcq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeHoddpcq">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- typy pro MP data -->
	<xs:simpleType name="typeIdzam">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeKod10"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeRoknar">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1900"/>
					<xs:maxExclusive value="3000"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePohlavi">
		<xs:restriction base="typeCollapsedString">
			<xs:enumeration value="M"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeStobc">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeCollapsedString">
					<xs:pattern value="[a-zA-Z]{2}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeVzdelani">
		<xs:restriction base="typeCollapsedString">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeInvald">
		<xs:restriction base="typeCollapsedString">
			<xs:enumeration value="C"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeMistovp">
		<xs:restriction base="typeLau1"/>
	</xs:simpleType>
	<xs:simpleType name="typeCzicse">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1000"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeCzisco">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeCollapsedString">
					<xs:pattern value="[0-9]{5}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeVedouci">
		<xs:restriction base="typeCollapsedString">
			<xs:enumeration value="A"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeKontopd">
		<xs:restriction base="typeCollapsedString">
			<xs:enumeration value="A"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeDobazam">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric5"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeEviddny">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeKonecep">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeCollapsedString">
					<xs:pattern value="[0-9]{8}|0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeFondsta">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeFondsje">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeOdpracd">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePrescas">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeSignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeAbscelk">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeAbsplac">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeAbsdovol">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeAbsnemoc">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeAbsnemz">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric7"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeMzda">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePoprav">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="-9999999"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePoneprav">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="-9999999"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePrippcas">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePriplat">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeNahrady">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typeNahrnemz">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePohotov">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="typePrumvyd">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="typeUnsignedNumeric8"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="typePrazdny"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- komplexni typy: parametry, odesilatel, zamestnavatel a zamestnanec -->
	<xs:complexType name="typeParametry">
		<xs:sequence>
			<xs:element name="desTeckaCarka" type="typeDesTeckaCarka" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeOdesilatel">
		<xs:sequence>
			<xs:element name="firma" type="typeFirma" minOccurs="0" maxOccurs="1"/>
			<xs:element name="jmeno" type="typeJmeno" minOccurs="0" maxOccurs="1"/>
			<xs:element name="email" type="typeEmail" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telefon" type="typeTelefon" minOccurs="0" maxOccurs="1"/>
			<xs:element name="zprava" type="typeZprava" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeEkonomickySubjekt">
		<xs:sequence>
			<xs:element name="nazev" type="typeNazev" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ulicecp" type="typeUlicecp" minOccurs="0" maxOccurs="1"/>
			<xs:element name="misto" type="typeMisto" minOccurs="0" maxOccurs="1"/>
			<xs:element name="psc" type="typePsc" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lau1" type="typeLau1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hrmzdyq" type="typeHrmzdyq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poneq" type="typePoneq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="odpracdq" type="typeOdpracdq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="prescasq" type="typePrescasq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="abscelkq" type="typeAbscelkq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="absplacq" type="typeAbsplacq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pocfyzq" type="typePocfyzq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pocprepq" type="typePocprepq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="oonq" type="typeOonq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="odmdpcq" type="typeOdmdpcq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hoddpcq" type="typeHoddpcq" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeZamestnanec">
		<xs:sequence>
			<xs:element name="idzam" type="typeIdzam" minOccurs="0" maxOccurs="1"/>
			<xs:element name="roknar" type="typeRoknar" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pohlavi" type="typePohlavi" minOccurs="0" maxOccurs="1"/>
			<xs:element name="stobc" type="typeStobc" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vzdelani" type="typeVzdelani" minOccurs="0" maxOccurs="1"/>
			<xs:element name="invald" type="typeInvald" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mistovp" type="typeMistovp" minOccurs="0" maxOccurs="1"/>
			<xs:element name="czicse" type="typeCzicse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="czisco" type="typeCzisco" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vedouci" type="typeVedouci" minOccurs="0" maxOccurs="1"/>
			<xs:element name="kontopd" type="typeKontopd" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dobazam" type="typeDobazam" minOccurs="0" maxOccurs="1"/>
			<xs:element name="eviddny" type="typeEviddny" minOccurs="0" maxOccurs="1"/>
			<xs:element name="konecep" type="typeKonecep" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fondsta" type="typeFondsta" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fondsje" type="typeFondsje" minOccurs="0" maxOccurs="1"/>
			<xs:element name="odpracd" type="typeOdpracd" minOccurs="0" maxOccurs="1"/>
			<xs:element name="prescas" type="typePrescas" minOccurs="0" maxOccurs="1"/>
			<xs:element name="abscelk" type="typeAbscelk" minOccurs="0" maxOccurs="1"/>
			<xs:element name="absplac" type="typeAbsplac" minOccurs="0" maxOccurs="1"/>
			<xs:element name="absdovol" type="typeAbsdovol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="absnemoc" type="typeAbsnemoc" minOccurs="0" maxOccurs="1"/>
			<xs:element name="absnemz" type="typeAbsnemz" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mzda" type="typeMzda" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poprav" type="typePoprav" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poneprav" type="typePoneprav" minOccurs="0" maxOccurs="1"/>
			<xs:element name="prippcas" type="typePrippcas" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priplat" type="typePriplat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="nahrady" type="typeNahrady" minOccurs="0" maxOccurs="1"/>
			<xs:element name="nahrnemz" type="typeNahrnemz" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pohotov" type="typePohotov" minOccurs="0" maxOccurs="1"/>
			<xs:element name="prumvyd" type="typePrumvyd" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ispv">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="parametry" minOccurs="0" maxOccurs="1" type="typeParametry"/>
				<xs:element name="odesilatel" minOccurs="1" maxOccurs="1" type="typeOdesilatel"/>
				<xs:element name="zamestnavatel" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ekonomickySubjekt" minOccurs="1" maxOccurs="1" type="typeEkonomickySubjekt"/>
						</xs:sequence>
						<xs:attribute name="ico" type="typeIco"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="zamestnanci" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="zamestnanec" minOccurs="0" maxOccurs="unbounded" type="typeZamestnanec"/>
						</xs:sequence>
						<xs:attribute name="ico" type="typeIco"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="struktura" type="xs:string"/>
			<xs:attribute name="verze" type="xs:string"/>
			<xs:attribute name="podverze" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>